* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    height: 100vh;
    /* background: linear-gradient(#73eff7, #48486C); */
    color: #F9F8FF;
    background-image: url('../images/primary-background-teal.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.login {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    text-align: center;
}

.login__input {
    outline: none;
    border: none;
    width: 100%;
    border-radius: .3em;
    padding: 0.5em 0.75em;
}

.login__form {
    text-align: center;
    margin-bottom: 10px;
}

.button {
    outline: none;
    margin: auto;
    width: 50%;
    padding: 0.5em 0.75em;
    border: 1px solid black;
    border-radius: .3em;
    background-color: #00CCF8;
    color: #F9F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    border: 1px solid hsl(206, 89%, 57%);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

@media only screen and (max-width: 480px) {

    
}
