* {
    box-sizing: border-box;
}

.button {
    outline: none;
    margin: 0;
    padding: 0.25em 0.55em;
    border: 1px solid black;
    border-radius: 100px;
    color: white;
}

.button.primary {
    background-color: hsl(203, 90%, 50%);
}

.button.danger {
    background-color: hsl(0, 90%, 50%);
}

@media only screen and (max-width: 480px) {

    .primary-background-teal {
        position: absolute;
        top: 12rem;
        left: -18px;
    }

    .button {
        position: absolute;
        width: 22rem;
        height: 5rem;
    }

    .button.primary {
        bottom: 8rem;
    }

    .button.danger {
        bottom: 2rem;
    }
}
